<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <style type="text/css">
    <!--
    #sa-app {
        margin: 40px;
    }
    -->
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="sa-app">

    <h2>アンケートシステムデモ</h2>

    <div>
        <input type="button" v-on:click="resetData" value="Reset" />
    </div>

    <h4>新しいアンケートを作成する</h4>
    <div>
        <form>
            <div><input type="text" v-model="question" placeholder="質問を入力してください"></div>
            <div><input type="text" v-model="choice1" placeholder="選択肢を入力してください"></div>
            <div><input type="text" v-model="choice2" placeholder="選択肢を入力してください"></div>
            <div><input type="text" v-model="choice3" placeholder="選択肢を入力してください"></div>
            <div><input type="text" v-model="choice4" placeholder="選択肢を入力してください"></div>
            <div><input type="text" v-model="choice5" placeholder="選択肢を入力してください"></div>
            <div><input type="button" v-on:click="pushQuestion" value="Create" /></div>
        </form>
    </div>

    <h4>アンケート選択</h4>
    <select v-model="selectQuestionId" v-on:change="changeQuestion">
        <option v-for="q in questionIdList" v-bind:value="q.id">{{ q.id }} : {{ q.question }}</option>
    </select>


    <h4>Q. {{ questionData.id }} {{ questionData.question }}</h4>
    <div>
        <form>
            <label>
                <input type="radio" value="1" v-bind:name="'sa-radio-' + questionData.id" />
                <span class="label-body">{{ questionData.choice1 }}</span>
            </label>
            <label>
                <input type="radio" value="2" v-bind:name="'sa-radio-' + questionData.id" />
                <span class="label-body">{{ questionData.choice2 }}</span>
            </label>
            <label>
                <input type="radio" value="3" v-bind:name="'sa-radio-' + questionData.id" />
                <span class="label-body">{{ questionData.choice3 }}</span>
            </label>
            <label>
                <input type="radio" value="4" v-bind:name="'sa-radio-' + questionData.id" />
                <span class="label-body">{{ questionData.choice4 }}</span>
            </label>
            <label>
                <input type="radio" value="5" v-bind:name="'sa-radio-' + questionData.id" />
                <span class="label-body">{{ questionData.choice5 }}</span>
            </label>
            <input type="button" v-on:click="pushAnswer(questionData.id, 'sa-radio-' + questionData.id)"  value="Answer" />
        </form>
    </div>

    <h4>アンケート結果</h4>
    <table>
        <thead>
        <tr>
            <th>{{ questionData.choice1 }}</th>
            <th>{{ questionData.choice2 }}</th>
            <th>{{ questionData.choice3 }}</th>
            <th>{{ questionData.choice4 }}</th>
            <th>{{ questionData.choice5 }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ answerData.count1 }}</td>
            <td>{{ answerData.count2 }}</td>
            <td>{{ answerData.count3 }}</td>
            <td>{{ answerData.count4 }}</td>
            <td>{{ answerData.count5 }}</td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/survey.js"></script>
</body>
</html>