<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <style type="text/css">
    <!--
    #sa-app {
        margin: 40px;
    }
    -->
    </style>
</head>
<body>

<div id="sa-app">

    <div>
        <input type="button" v-on:click="resetData" value="Reset" />
    </div>

    <h2>新しいアンケートを作成する</h2>
    <div>
        <form>
            <div><input type="text" v-model="question"></div>
            <div><input type="text" v-model="choice1"></div>
            <div><input type="text" v-model="choice2"></div>
            <div><input type="text" v-model="choice3"></div>
            <div><input type="text" v-model="choice4"></div>
            <div><input type="text" v-model="choice5"></div>
            <div><input type="button" v-on:click="pushQuestion" value="Create" /></div>
        </form>
    </div>

    <h2>アンケート選択</h2>
    <select v-model="selectQuestionId" v-on:change="changeQuestion">
        <option v-for="q in questionIdList" v-bind:value="q.id">{{ q.id }} : {{ q.question }}</option>
    </select>


    <h2>Q. {{ questionData.id }} {{ questionData.question }}</h2>
    <div>
        <form>
            <div>{{ questionData.choice1 }}<input type="radio" value="1" v-bind:name="'sa-radio-' + questionData.id" /></div>
            <div>{{ questionData.choice2 }}<input type="radio" value="2" v-bind:name="'sa-radio-' + questionData.id" /></div>
            <div>{{ questionData.choice3 }}<input type="radio" value="3" v-bind:name="'sa-radio-' + questionData.id" /></div>
            <div>{{ questionData.choice4 }}<input type="radio" value="4" v-bind:name="'sa-radio-' + questionData.id" /></div>
            <div>{{ questionData.choice5 }}<input type="radio" value="5" v-bind:name="'sa-radio-' + questionData.id" /></div>
            <div><input type="button" v-on:click="pushAnswer(questionData.id, 'sa-radio-' + questionData.id)"  value="answer" /></div>
        </form>
    </div>

    <h2>アンケート結果</h2>
    <div>
        <li>{{ questionData.choice1 }} {{ answerData.count1 }}</li>
        <li>{{ questionData.choice2 }} {{ answerData.count2 }}</li>
        <li>{{ questionData.choice3 }} {{ answerData.count3 }}</li>
        <li>{{ questionData.choice4 }} {{ answerData.count4 }}</li>
        <li>{{ questionData.choice5 }} {{ answerData.count5 }}</li>
    </div>

</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/survey.js"></script>
</body>
</html>