<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
  <link href="/assets/stylesheets/survey.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="survey-list">

  <h3>アンケート一覧</h3>
  <div class="content-block">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>実施ページ</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="sl in surveyList">
        <td>{{ sl.id }}</td>
        <td>{{ sl.title }}</td>
        <td><a v-bind:href="'/user/question/' + sl.id">{{ '/user/question/' + sl.id }}</a></td>
        <td><a class="button" v-bind:href="'/originator/question/' + sl.id">編集</a></td>
        <td><input type="button" v-on:click="deleteSurvey(sl.id)" value="削除" /></td>
        <td><a class="button" v-bind:href="'/originator/survey-result/' + sl.id">結果確認</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3>新規アンケート作成</h3>
  <div>
    <form>
      <div>
        <div>
          <input type="text" v-model="surveyTitle" placeholder="アンケートのタイトル 例) 外食についてのアンケート" style="width: 35%;">
        </div>
      </div>
      <input type="button" v-on:click="postSurvey" value="アンケート作成" />
    </form>
  </div>


</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/assets/javascripts/originator/survey.js"></script>
</body>
</html>
