@()

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>

<div id="reset">
  <input type="button" v-on:click="resetFunc" value="reset" />
</div>

<div id="sa-list">
  <div v-for="r in res">
    <div class="card-divider">
      <p>{{ r.id }} {{ r.question }}</p>
      <li>{{ r.choice1 }}</li>
      <li>{{ r.choice2 }}</li>
      <li>{{ r.choice3 }}</li>
      <li>{{ r.choice4 }}</li>
      <li>{{ r.choice5 }}</li>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/survey.js")" type="text/javascript"></script>
</body>
</html>

